/**colores**/

$colorPrincipal: white;
$Gris: rgb(110, 108, 108);
$colorParrafos: plum;
$colorHeader: rgb(226, 226, 226);
$colorCarrito: rgb(247, 227, 210);
$colorFooter: rgb(247, 227, 210);
$colorFaqs: rgb(255, 249, 245);
$colorToast1: teal;
$colorToastBody: whitesmoke;
$colorToast2: tomato;
$colorToast3: plum;


$margin-50: 50px